<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- dataSource -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql:///mybatis?useSSL=false&amp;characterEncoding=UTF-8&amp;useUnicode=true&amp;serverTimezones=Asia/Shanghai" />
        <property name="username" value="root" />
        <property name="password" value="lixunsam" />
    </bean>

    <!-- SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- <property name="configLocation" value="classpath:mybatis-mapper.xml" /> -->

        <!-- 绑定 mybatis 配置文件 -->
        <!-- typeAliases -->
        <property name="typeAliasesPackage" value="jp.rena.entity"/>
        <!-- settings -->
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true"/>
            </bean>
        </property>
        <!-- mappers -->
        <property name="mapperLocations" value="classpath*:jp/rena/mapper/*.xml" />
    </bean>

    <!-- SqlSessionTemplate -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

</beans>